
body, footer {
  background-color: #588eb8;
}

body.landing {
  padding-top: 0;
}

.blog h1 {
  color: white;
}
.blog h1 a {
  color: white;
}

.main-pane {
  min-height: 700px;
  padding-bottom: 20px;  
}

.post {
  background-color: #E4DFCF;
  padding: 1px 20px 30px;
  text-align: left;
  margin-bottom: 30px;
}

.sidebar {
  text-align: left;
  /*background-color: white;*/
}

.sidebar .panel-body {
  padding: 0;
}

.content h1 {
  margin-top: 0;
}

.content h1 a:hover {
  text-decoration: none;
}

.content .post {
  border-bottom: solid 1px silver;
}

footer {
  padding: 15px 0;
  color: #ccc;
  text-align: center;
  font-size: 1.3em;
  font-weight: italic;
}