<div class="navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="https://transparentclassroom.com/" class="navbar-brand">
        <img src="https://www.transparentclassroom.com/assets/logo-400.png" class="logo" width="40" height="40">
        <span>Transparent Classroom</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a href="https://transparentclassroom.com/#tour">Tour</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="https://transparentclassroom.com/users/sign_in">Sign in</a></li>
        <li><a class="btn btn-primary" href="https://transparentclassroom.com/calendars/demos/new">Request a Demo</a></li>
      </ul>
    </div>
  </div>
</div>